{% extends "admin.html.twig" %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Actif</th>
            <th>Roles</th>
            <th>Gérer</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.active }}</td>
                <td>
                    {% for role in user.roles %}
                        {{ dump(role) }}
                    {% endfor %}
                </td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}