{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Livraison</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for livraison in addresses %}
                        <tr>
                            <td>{{ livraison.full }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Facturation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for facturation in addresses %}
                        <tr>
                            <td>{{ facturation.full }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
