{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center text-uppercase">Mes informations</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>E-mail</th>
                        <th>Activité confirmée</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.active %}
                                <i class="fa fa-user" style="color: green;"></i>
                            {% else %}
                                <i class="fa fa-user" style="color: red;"></i>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 text-center">
                <h2 class="text-center text-uppercase">Mes adresses</h2>
                {% if addresses is empty %}
                    <a href="" class="btn btn-primary">Ajouter une adresse</a>
                {% else %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Adresse</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for address in addresses %}
                            <tr>
                                <td>{{ address.type }}</td>
                                <td>{{ address.full }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="col-md-4">
                <h2 class="text-center text-uppercase">Mes commandes</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ordering in user.orderings %}
                        <tr>
                            <td>{{ ordering.dateCreation|date('D d F Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{ user.email }}
        </div>
        <div class="row">
            <a href="{{ path('change_password') }}" class="btn btn-warning">Change password</a>
        </div>
        <div class="row">
            <a href="{{ path('ask_reset_password_link') }}" class="btn btn-warning">Reset password</a>
        </div>
    </div>
{% endblock %}
