{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped">
                    <tr>
                        <th>{{ 'now'|date('F Y') }}</th>
                    </tr>
                </table>
                <tbody>
                {% for order in this_mounth %}
                    <tr>
                        <td>{{ order.id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <tr>
                        <th>Février 2018</th>
                    </tr>
                </table>
                <tbody>
                {% for order in orderings %}
                    <tr>
                        <td>{{ order.id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <table class="table table-striped">
                    <tr>
                        <th>Janvier 2018</th>
                    </tr>
                </table>
                <tbody>
                {% for order in orderings %}
                    <tr>
                        <td>{{ order.id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <table class="table table-striped">
                    <tr>
                        <th>Décembre 2017</th>
                    </tr>
                </table>
                <tbody>
                {% for order in orderings %}
                    <tr>
                        <td>{{ order.id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </div>
        </div>
    </div>
{% endblock %}
