{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <fieldset class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </fieldset>
        <button class="btn btn-primary" type="submit">Ask reset password link</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
