{% extends "base.html.twig" %}

{% block body %}
    <h1>Inscription</h1>
    {{ form_start(form) }}
    <fieldset>
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </fieldset>
    <fieldset>
        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}
    </fieldset>
    <fieldset>
        <button type="submit" class="btn btn-primary">Créer mon compte</button>
    </fieldset>
    {{ form_end(form) }}
{% endblock %}