{% extends "admin.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Commandes en cours</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ path('admin_order_send') }}" class="btn btn-primary">Envoyer les commandes du jour par email</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Produits</th>
                    <th>Status</th>
                    <th>Total TTC</th>
                    <th>Gérer</th>
                </tr>
                </thead>
                <tbody>
                {% for cart in carts %}
                    <tr>
                        <td>{{ cart.user.email }}</td>
                        <td>{{ cart.dateCreation|date('d-m-Y H:i') }}</td>
                        <td>{{ cart.products|length }}</td>
                        <td>{{ cart.status }}</td>
                        <td>{{ cart.totalTtc }} €</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="" class="btn btn-secondary">Afficher</a>
                                <a href="" class="btn btn-secondary">Modifier</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}