{% extends "admin.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            <fieldset class="form-group">
                {{ form_widget(form.name) }}
            </fieldset>
            <fieldset class="form-group">
                {{ form_widget(form.description) }}
            </fieldset>
            <fieldset class="form-group">
                <button type="submit" class="btn btn-primary">Ajouter une catégorie</button>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
    <h1>Catégories</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Image</th>
            <th>Produits</th>
            <th>Gérer</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.image }}</td>
                <td>0</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ path('admin_category_edit', {'category': category.id}) }}" class="btn btn-secondary">Modifier</a>
                        <button type="button" data-toggle="modal" data-target="#delete_category_{{ category.id }}" class="btn btn-secondary">Supprimer</button>
                    </div>
                </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="delete_category_{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="delete_category_{{ category.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Supprimer cette catégorie ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a href="{{ path('admin_category_delete', {'category': category.id}) }}">Confirmer la suppression</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}