<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}">SBI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_category_list') }}">Catégories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_product_list') }}">Produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_tva_list') }}">Tva</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_cart_list') }}">Paniers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_order_list') }}">Commandes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_user_list') }}">Utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}" target="_blank">Boutique</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<section class="container">
    {% block body %}{% endblock %}
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
