{% extends "admin.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            <fieldset class="form-group">
                {{ form_widget(form.name) }}
            </fieldset>
            <fieldset class="form-group">
                {{ form_widget(form.value) }}
            </fieldset>
            <fieldset class="form-group">
                <button type="submit" class="btn btn-primary">Valider</button>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}