{% extends "admin.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            <fieldset class="form-group">
                {{ form_widget(form.name) }}
            </fieldset>
            <fieldset class="form-group">
                {{ form_widget(form.value) }}
            </fieldset>
            <fieldset class="form-group">
                <button type="submit" class="btn btn-primary">Ajouter une TVA</button>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
    <h1>TVA</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Valeur</th>
            <th>Gérer</th>
        </tr>
        </thead>
        <tbody>
        {% for tva in tvas %}
            <tr>
                <td>{{ tva.name }}</td>
                <td>{{ tva.value }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ path('admin_tva_edit', {'tva': tva.id}) }}" class="btn btn-secondary">Modifier</a>
                        <button type="button" data-toggle="modal" data-target="#delete_tva_{{ tva.id }}" class="btn btn-secondary">Supprimer</button>
                    </div>
                </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="delete_tva_{{ tva.id }}" tabindex="-1" role="dialog" aria-labelledby="delete_tva_{{ tva.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Supprimer cette tva ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a href="{{ path('admin_tva_delete', {'tva': tva.id}) }}">Confirmer la suppression</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}