{% extends "admin.html.twig" %}

{% block body %}
    <h1>Paniers en attente</h1>
    {% if carts|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Client</th>
                <th>Date</th>
                <th>Produits</th>
                <th>Status</th>
                <th>Total TTC</th>
                <th>Gérer</th>
            </tr>
            </thead>
            <tbody>
            {% for cart in carts %}
                <tr>
                    <td>{{ cart.user.email }}</td>
                    <td>{{ cart.dateCreation|date('d-m-Y H:i') }}</td>
                    <td>{{ cart.products|length }}</td>
                    <td>{{ cart.status }}</td>
                    <td>{{ cart.totalTtc }} €</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="" class="btn btn-secondary">Afficher</a>
                            <a href="" class="btn btn-secondary">Modifier</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        Aucun panier en attente.
    {% endif %}
{% endblock %}