{% extends "admin.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <button type="button" data-toggle="modal" data-target="#add_product" class="btn btn-secondary">Ajouter</button>
        </div>
    </div>
    <h1>Produits</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Image</th>
            <th>Catégorie</th>
            <th>Gérer</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td><img src="{{ product.image }}" alt="" height="100"></td>
                <td>0</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ path('admin_product_show', {'product': product.id}) }}" class="btn btn-secondary">Afficher</a>
                        <a href="{{ path('admin_product_edit', {'product': product.id}) }}" class="btn btn-secondary">Modifier</a>
                        <button type="button" data-toggle="modal" data-target="#delete_product_{{ product.id }}" class="btn btn-secondary">Supprimer</button>
                    </div>
                </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="delete_product_{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="delete_product_{{ product.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Supprimer ce produit ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a href="{{ path('admin_product_delete', {'product': product.id}) }}">Confirmer la suppression</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="add_product" tabindex="-1" role="dialog" aria-labelledby="add_product" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un produit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}