{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="container">
        {% if panier is defined %}
            <div class="row">
                <div class="col-lg-12">
                    {{ dump(panier) }}
                </div>
            </div>
        {% endif %}
        {% if products_panier|length > 0 %}
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Nom</th>
                            <th>Tarif HT</th>
                            <th>TVA</th>
                            <th>Quantité disponible</th>
                            <th>Quantité en panier</th>
                            <th>Modifier la quantité</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products_panier %}
                            <tr>
                                <td>
                                    <img src="{{ product.image }}" alt="{{ product.name }}" height="50">
                                </td>
                                <td>
                                    <h2>{{ product.name }}</h2>
                                </td>
                                <td>
                                    {{ product.priceHt }} €
                                </td>
                                <td>
                                    {{ product.tva*100 }}%
                                </td>
                                <td>
                                    {{ product.quantity }}
                                </td>
                                <td>
                                    {{ product.quantityInCart }}
                                </td>
                                <td>
                                    <form action="{{ path('edit_qte') }}" method="post">
                                        <input type="hidden" value="{{ product.id }}" name="product___id">
                                        <input type="number" name="product___qte">
                                        <button type="submit" class="btn btn-primary">Modifier</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="{{ path('remove_product_from_cart') }}" method="post" class="form-inline">
                                        <input type="hidden" value="{{ product.id }}" name="product__id">
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>
                                <a href="{{ path('homepage') }}" class="btn btn-primary">Continuer mes achats</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <form action="{{ path('cart_validation') }}" method="post">
                                    <input type="hidden" name="panier">
                                    <button type="submit" class="btn btn-primary">Valider mon panier</button>
                                </form>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Votre panier est vide.</h1>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}