{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ category.name|upper }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    {% for category in categories %}
                        <a href="{{ path('category', {'slug': category.slug}) }}"><li class="list-group-item">{{ category.name }}</li></a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-10">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-3">
                            <h3>{{ product.name|upper }}</h3>
                            <img src="{{ product.image }}" alt="{{ product.name }}" height="100">
                            <p>
                                {{ product.summary }}
                            </p>
                            <a href="{{ path('product', {'slug': product.slug}) }}" class="btn btn-primary">Afficher</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}