{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="container">
        <div class="card">
            {{ dump(panier) }}
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    {% for category in categories %}
                        <a href="{{ path('category', {'slug': category.slug}) }}"><li class="list-group-item">{{ category.name }}</li></a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-10">
                <div class="row">
                    {% for product in products %}
                        <article class="col-md-4">
                            <h2>{{ product.name|upper }}</h2>
                            <img src="{{ product.image }}" alt="{{ product.name }}" height="100">
                            <p>
                                {{ product.summary }}
                            </p>
                            <span class="pull-right">{{ product.priceHt }} €</span>
                            <a href="{{ path('product', {'slug': product.slug}) }}">Afficher</a>
                            <form action="{{ path('add_cart') }}" id="form_add_to_card_{{ product.id }}" class="form_add_to_cart" method="post">
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <input type="number" name="product_qty" value="1" class="form-control">
                                <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                            </form>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        /*$("form.form_add_to_cart").on('submit', function (e) {
            e.preventDefault();
            var $this = $(this);
            console.log('formulaire soumis');
            console.log($this);
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                dataType: "json",
                data: $this.serialize(),
                success: function (data) {
                    console.log('success');
                    console.log(data);
                    if (data['type'] == 'success') {
                        $this.html("<button type='button' class='btn btn-primary disabled'>Ajouté</button>");
                    }
                },
                error: function (data) {
                    console.log('error');
                }
            });
        });*/
    </script>
{% endblock %}