{% extends "base.html.twig" %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{{ product.name|upper }}</h1>
                {{ dump(product) }}
            </div>
            <div class="col-md-6">
                {{ form_start(form) }}
                <fieldset>
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.summary) }}
                    {{ form_widget(form.summary) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.reference) }}
                    {{ form_widget(form.reference) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.quantity) }}
                    {{ form_widget(form.quantity) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.priceHt) }}
                    {{ form_widget(form.priceHt) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.tva) }}
                    {{ form_widget(form.tva) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                </fieldset>
                <fieldset>
                    <button type="submit" class="btn btn-primpary">Valider</button>
                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}