{% extends "base.html.twig" %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-xs-12 card">
                <h1>Paiement</h1>
                {{ dump(order) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Payer avec PayPal</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Payer avec Stripe</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Payer par virement bancaire</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Payer par carte bancaire</a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <a href="{{ path('payment_accepted', {'id': panier.id}) }}" class="btn btn-primary">Payer</a>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <a href="{{ path('payment_accepted', {'id': panier.id}) }}" class="btn btn-primary">Payer</a>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <a href="{{ path('payment_accepted', {'id': panier.id}) }}" class="btn btn-primary">Payer</a>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <a href="{{ path('payment_accepted', {'id': panier.id}) }}" class="btn btn-primary">Payer</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}