{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header text-center">Paiement accepté ! Merci pour votre commande</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ dump(ordering) }}
            </div>
        </div>
    </div>
{% endblock %}