{% extends "base2.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {{ form_start(panier_form) }}
                <fieldset class="form-group">
                    {{ form_row(panier_form.livraison) }}
                </fieldset>
                <fieldset class="form-group">
                    {{ form_row(panier_form.facturation) }}
                </fieldset>
                <fieldset class="form-group">
                    <button type="submit" class="btn btn-primary">Valider mes adresses</button>
                </fieldset>
                {{ form_end(panier_form) }}
            </div>
            <div class="col-lg-6">
                <h2>Ajouter une adresse</h2>
                {{ form_start(form) }}
                <fieldset>
                    {{ form_label(form.type) }}
                    {{ form_widget(form.type) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.street) }}
                    {{ form_widget(form.street) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.complement) }}
                    {{ form_widget(form.complement) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.codePostal) }}
                    {{ form_widget(form.codePostal) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.country) }}
                    {{ form_widget(form.country) }}
                </fieldset>
                <fieldset>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}