{% extends "base.html.twig" %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Votre commande</h1>
            </div>
        </div>
        {% if panier is defined %}
            <div class="row">
                <div class="col-lg-6">
                    <h2>Vos informations</h2>
                    <p>
                        Email: {{ panier.user.email }}
                    </p>
                    <p>
                        Livraison: {{ panier.livraison }}
                    </p>
                    <p>
                        Facturation: {{ panier.facturation }}
                    </p>
                </div>
                <div class="col-lg-6">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Nom</th>
                            <th>Tarif HT</th>
                            <th>TVA</th>
                            <th>Quantité disponible</th>
                            <th>Quantité en panier</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in panier.products %}
                            <tr>
                                <td>
                                    <img src="{{ product.image }}" alt="{{ product.name }}" height="50">
                                </td>
                                <td>
                                    <h2>{{ product.name }}</h2>
                                </td>
                                <td>
                                    {{ product.priceHt }} €
                                </td>
                                <td>
                                    {{ product.tva*100 }}%
                                </td>
                                <td>
                                    {{ product.quantity }}
                                </td>
                                <td>
                                    {{ product.quantityInCart }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12">
                    <a href="{{ path('pay') }}">Valider ma commande et payer</a>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}